.box {
    width: 309px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid #DFE3E5;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;


    #saleHeader {
        height: 41px;
    }

    .boxHeader {
        width: 100%;
        height: 38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #204A6A;
        transition: background-color 500ms;
        border-radius: 4px;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;

        h4 {
            font-style: normal;
            line-height: 25px;
            color: #FFFFFF;
        }
    }

    .green {
        width: 100%;
        height: 38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: #249508;
        transition: background-color 500ms;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;

        h4 {
            font-style: normal;
            line-height: 25px;
            color: #FFFFFF;
        }
    }

    .boxContent {
        width: fill-available;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 20px 30px;

        .info {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            .flex {
                display: flex;
                align-items: center;

                div {
                    margin-left: 16px;
                }
            }


        }

        .icon {
            display: flex;
            align-items: center;
            margin-right: 12px;
        }

        p,
        pre {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: #005DA1;

            &:hover {
                color: #208AD9;
            }

            &:focus {
                color: #024F87;

            }

        }


        .filterDarkBlueSmall {
            width: 14px;
            height: 14px;
            filter: invert(21%) sepia(92%) saturate(372%) hue-rotate(162deg) brightness(97%) contrast(93%);
        }

        .filterBlueMedium {
            width: 21px;
            height: 28px;
            filter: invert(21%) sepia(89%) saturate(7115%) hue-rotate(194deg) brightness(88%) contrast(101%);
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            overflow: hidden;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;

            div {
                display: flex;
                align-items: center;

                p {
                    white-space: nowrap;
                }
            }

            .stateButton,
            .changeStateButton {
                display: flex;
                align-items: stretch;

            }

            .stateButton {
                z-index: 1;

                div {
                    padding: 0 10px;
                    border-radius: 0 3px 3px 0;
                }
            }

            .changeStateButton {
                z-index: 2;

                div {
                    padding: 0 30px 0 10px;
                    border-radius: 3px 0px 0px 3px;
                }

                button {
                    position: absolute;
                    margin-left: 10px;
                }
            }

            button {
                width: 32px;
                height: 32px;
                display: flex;
                border: 0;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                z-index: 2;

                &:hover {
                    cursor: pointer;

                }

            }

            .changeStateTransition,
            .stateTransition {
                opacity: 0;
            }

            .changeStateText {
                opacity: 1 !important;
                transform: translateX(-165px) !important;
            }

            .stateText {
                opacity: 1 !important;
                transform: translateX(0) !important;
            }

            .changeStateTransition {
                display: flex;
                justify-content: center;
                width: 150px;
                transform: translateX(-150px);
            }

            .stateTransition {
                display: flex;
                justify-content: center;
                width: 150px;
                transform: translateX(-40px);
            }

            .declinedState {
                color: #70808A;
                background: #70808A1A;
                transition: all 500ms;
            }

            .acceptedState {
                color: #249508;
                background: #2495081A;
                transition: all 500ms;
            }

            .changeToDecline {
                color: #B90E14;
                background: #B90E141A;
                transition: all 500ms;
            }

            .changeToAccept {
                color: #005DA1;
                background: #005DA11A;
                transition: all 500ms;
            }

            .declinedStateButton {
                &:hover {
                    cursor: default;
                }

                background-color: #70808A;
                transition: background-color 500ms;
            }

            .changeToAcceptButton {

                background-color: #005DA1;
                transition: background-color 500ms;
            }

            .acceptedStateButton {
                &:hover {
                    cursor: default;
                }

                background-color: #249508;
                transition: background-color 500ms;
            }

            .changeToDeclineButton {
                background-color: #B90E14;
                transition: background-color 500ms;
            }
        }
    }
}

.refundBox {
    margin-bottom: 0;
}